:coffeescript
  $ ->
    showSidebarItem('contracts')

    $('#datatable').dataTable({
      # disable the label for the search field
      "oLanguage": { "sSearch": '' }
      # disable sorting on the actions column
      "aoColumns": [
        null,
        null,
        null,
        null,
        null,
        { "bSortable": false }
      ]
      # no sorting initially... sorting if the user clicks a header
      "aaSorting": []
    });
    $('.dataTables_filter input').attr("placeholder", "Search");

.block-flat
  .header
    %h3 Contracts
  .content
    .table-responsive
      #datatable_wrapper.dataTables_wrapper.form-inline{:role => "grid"}
        %table#datatable.mplan-datatable.table.table-bordered.dataTable{"aria-describedby" => "client list"}
          %thead
            %tr{:role => "row"}
              %th.sorting_desc{"aria-controls" => "datatable", "aria-label" => "Client: activate to sort column ascending", "aria-sort" => "descending", :colspan => "1", :role => "columnheader", :rowspan => "1", :style => "width: auto;", :tabindex => "0"} Client
              %th.sorting_desc{"aria-controls" => "datatable", "aria-label" => "Engagement: activate to sort column ascending", "aria-sort" => "descending", :colspan => "1", :role => "columnheader", :rowspan => "1", :style => "width: auto;", :tabindex => "0"} Engagement
              %th.sorting_desc{"aria-controls" => "datatable", "aria-label" => "Vendor: activate to sort column ascending", "aria-sort" => "descending", :colspan => "1", :role => "columnheader", :rowspan => "1", :style => "width: auto;", :tabindex => "0"} Vendor
              %th.sorting_desc{"aria-controls" => "datatable", "aria-label" => "Campaign: activate to sort column ascending", "aria-sort" => "descending", :colspan => "1", :role => "columnheader", :rowspan => "1", :style => "width: auto;", :tabindex => "0"} Campaign
              %th.sorting_desc{"aria-controls" => "datatable", "aria-label" => "Amount: activate to sort column ascending", "aria-sort" => "descending", :colspan => "1", :role => "columnheader", :rowspan => "1", :style => "width: auto;", :tabindex => "0"} Amount
              %th{"aria-controls" => "datatable", "aria-label" => "Actions", :colspan => "1", :role => "columnheader", :rowspan => "1", :style => "width: 131px;", :tabindex => "0"}
          %tbody{"aria-live" => "polite", "aria-relevant" => "all", :role => "alert"}

            - @contracts.each do |contract|
              %tr.gradeA
                %td.sorting_1 TODO
                %td.sorting_1 TODO
                %td.sorting_1 #{contract.vendor}
                %td.sorting_1 #{contract.campaign_name}
                %td.sorting_1 #{contract.amount}
                %td.center
                  = render partial: 'shared/datatable/actions'
