= simple_form_for @form, url: media_types_path do |f|
  = f.input :name_of_type, html: { id: 'type_name' }
  .form-group
    .action-group
      = f.button :submit, 'Save new media type', class: 'btn-primary'

:coffeescript
  
  $('#modalNewMediaType').on "shown.bs.modal", ->
    $('#new_mplan_creators_media_type_creator').bootstrapValidator 'resetForm', true
    $('#new_mplan_creators_media_type_creator').find('[name="mplan_creators_media_type_creator[name_of_type]"]').focus()
 
  $ ->
    $("#new_mplan_creators_media_type_creator").bootstrapValidator
      message: "This value is not valid"
      feedbackIcons:
        valid: "glyphicon glyphicon-ok"
        invalid: "glyphicon glyphicon-remove"
        validating: "glyphicon glyphicon-refresh"

      fields:
        
        'mplan_creators_media_type_creator[name_of_type]':
          message: 'The name is not valid'
          validators:
            notEmpty:
              message: "The name of the type is required and cannot be empty"
            stringLength:
              min: 2
              max: 30
              message: "The name must be more than 2 and less than 30 characters long"
            regexp:
              regexp: /^[a-zA-Z0-9\s_]+$/
              message: "The name can only consist of alphanumerics, spaces, and underscores"