%footer
  #modals
    #quick-add-client
    #quick-add-engagement
    #quick-add-vendor
    #quick-add-advertising-type
    #quick-add-campaign-type
    #quick-add-media-type
    #quick-add-financial-year