= simple_form_for @form, url: clients_path do |f|
  = f.input :client_name, html: { id: 'client_name' }
  .form-group
    .action-group
      = f.button :submit, 'Save new client', class: 'btn-primary'

:coffeescript

  $('#modalNewClient').on "shown.bs.modal", ->
    $('#new_mplan_creators_client_creator').bootstrapValidator 'resetForm', true
    $('#new_mplan_creators_client_creator').find('[name="mplan_creators_client_creator[client_name]"]').focus()
 
  $ ->
    $("#new_mplan_creators_client_creator").bootstrapValidator
      message: "This value is not valid"
      feedbackIcons:
        valid: "glyphicon glyphicon-ok"
        invalid: "glyphicon glyphicon-remove"
        validating: "glyphicon glyphicon-refresh"

      fields:

        'mplan_creators_client_creator[client_name]':
          message: "The name is not valid"
          validators:
            notEmpty:
              message: "The name is required and cannot be empty"
            stringLength:
              min: 2
              max: 30
              message: "The name must be more than 2 and less than 30 characters long"
            regexp:
              regexp: /^[a-zA-Z0-9\s_]+$/
              message: "The name can only consist of alphanumerics, spaces, and underscores"
