.btn-group
  %button.btn.btn-primary.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
    Actions
    %span.caret
  %ul.dropdown-menu.pull-right{:role => "menu"}
    %li
      %a{:href => "#"} Edit
    %li
      %a{:href => "#"} Copy
    %li
      %a{:href => "#"} Details
    %li.divider
    %li
      %a{:href => "#"} Remove
